<div class="home-item-details-container">
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    *ngIf="!item; else content"
  ></mat-progress-spinner>
  <ng-template #content>
    <h1>{{ title }}</h1>
    <mat-divider></mat-divider>
    <div class="stars">
      <app-stars-raiting [raiting]="item.stars"></app-stars-raiting>
      <p>{{ item.stars }}</p>
      <span> {{ item.reviews }} reviews </span>
    </div>
    <section class="item-presentation">
      <div class="item-presentation__preview">
        <app-item-presentation
          [color]="itemColor"
          [images]="item.specs.colors"
        ></app-item-presentation>
      </div>
      <div class="item-presentation__properties">
        <app-select-item-properties
          [item]="item"
          [title]="title"
        ></app-select-item-properties>
        <div class="add-to-cart-container">
          <div class="benefits">
            <h4>Benefits:</h4>
            <p>
              <mat-icon
                ><span class="material-icons-outlined">
                  settings_backup_restore
                </span>
              </mat-icon>
              Right of return: 30 days
            </p>
            <p>
              <mat-icon>
                <span class="material-icons-outlined"> credit_card </span>
              </mat-icon>
              Money back in 30'
            </p>
          </div>
          <div class="cart-button">
            <app-add-to-cart-button></app-add-to-cart-button>
          </div>
        </div>
      </div>
    </section>
    <div class="specs-table">
      <app-phone-specs-table
        *ngIf="item.type === 'mobilePhones'"
      ></app-phone-specs-table>
      <app-laptop-specs-table
        *ngIf="item.type === 'laptops'"
      ></app-laptop-specs-table>
    </div>
  </ng-template>
</div>
