<div class="select-item-properties-container">
  <div *ngIf="phoneMemory">
    <p class="property-text">Memory RAM</p>
    <div class="memory" [appSetBorderOnClick]="phoneMemory.ram.itemIdx">
      <div
        class="memory-option"
        *ngFor="let ram of phoneMemory.ram.ramOptions; let i = index"
        (click)="onChangeRAM(i)"
        [ngClass]="{ 'custom-border': i === 0 }"
      >
        <span>{{ ram }} GB</span>
      </div>
    </div>

    <p class="property-text">Internal storage</p>
    <div class="memory" [appSetBorderOnClick]="phoneMemory.storage.itemIdx">
      <div
        class="storage-option"
        *ngFor="let gb of phoneMemory.storage.storageOptions; let i = index"
        (click)="onChangeStorage(i)"
        [ngClass]="{ 'custom-border': i === 0 }"
      >
        <span>{{ gb }} GB</span>
      </div>
    </div>
  </div>

  <p class="property-text">Colors available:</p>
  <div class="item-colors" [appSetBorderOnClick]="colorsAvailableIndex">
    <div
      class="item-color"
      (click)="onChangeColor(color.key, i)"
      *ngFor="let color of item.specs.colors | keyvalue; let i = index"
      [ngClass]="{ 'custom-border': i === 0 }"
    >
      <img src="{{ color.value }}" alt="{{ color.key }}" />
      <span>{{ color.key }}</span>
    </div>
  </div>
</div>
