.mat-drawer-container {
  background-color: white !important;
  .sidenav-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

}
